flow.json
[{"id":"bf384e56.edc27","type":"tab","label":"Seneye","disabled":false,"info":""},{"id":"5a0cb5f4.7625ec","type":"ui_chart","z":"bf384e56.edc27","name":"","group":"c224fc58.cde1f","order":0,"width":"8","height":"8","label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":180,"wires":[[]]},{"id":"78c5d05d.f4a4d","type":"mqtt in","z":"bf384e56.edc27","name":"","topic":"/seneye","qos":"2","datatype":"auto","broker":"d9f0a5b0.c49358","nl":false,"rap":true,"rh":0,"x":290,"y":240,"wires":[["520140c6.61771","2f8d9e03.0fb162","3657ec4b.0207f4","2d5081c7.15d9fe"]]},{"id":"520140c6.61771","type":"debug","z":"bf384e56.edc27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":440,"wires":[]},{"id":"2f8d9e03.0fb162","type":"function","z":"bf384e56.edc27","name":"temp","func":"const data = JSON.parse(msg.payload)\nreturn {topic:\"temperature\", payload:data.temp, timestamp:new Date()}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["5a0cb5f4.7625ec"]]},{"id":"585e8996.5b3538","type":"inject","z":"bf384e56.edc27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["2f8d9e03.0fb162"]]},{"id":"3657ec4b.0207f4","type":"function","z":"bf384e56.edc27","name":"ph","func":"const data = JSON.parse(msg.payload)\nreturn {topic:\"ph\", payload:data.ph, timestamp:new Date()}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":280,"wires":[["32295d60.1ccd02"]]},{"id":"2d5081c7.15d9fe","type":"function","z":"bf384e56.edc27","name":"nh3","func":"const data = JSON.parse(msg.payload)\nreturn {topic:\"nh3\", payload:data.nh3, timestamp:new Date()}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":320,"wires":[["8473e07e.0fea6"]]},{"id":"32295d60.1ccd02","type":"ui_chart","z":"bf384e56.edc27","name":"","group":"c224fc58.cde1f","order":0,"width":"8","height":"8","label":"Ph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":776,"y":254,"wires":[[]]},{"id":"8473e07e.0fea6","type":"ui_chart","z":"bf384e56.edc27","name":"","group":"c224fc58.cde1f","order":0,"width":"8","height":"8","label":"Nh3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":340,"wires":[[]]},{"id":"9956be8d.23ca","type":"rpi-gpio in","z":"bf384e56.edc27","name":"","pin":"12","intype":"tri","debounce":"25","read":true,"x":250,"y":460,"wires":[["520140c6.61771"]]},{"id":"c224fc58.cde1f","type":"ui_group","name":"Sensors","tab":"44d59d5a.892814","order":1,"disp":true,"width":"24","collapse":true},{"id":"d9f0a5b0.c49358","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"44d59d5a.892814","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]